<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Caller</title>
  <link rel="icon" href="data:;base64,=">
</head>
<body onload="start()" data-call="{{call}}">
<div>
  <video id="localVideo" autoplay playsinline controls="false"></video>
  <video id="remoteVideo" autoplay playsinline controls="false"></video>
</div>
<input type="text" id="message">
<button type="button" id="send-button">SEND</button>
<ul id="chat-box">

</ul>
<script type="text/javascript" src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script type="text/javascript" src="/webrtc/webrtc.js"></script>
<script type="text/javascript">
  const configuration = {
    'iceServers': [
      {
        'urls': [
          'stun:stun.l.google.com:19302',
          'stun:stun1.l.google.com:19302',
          'stun:stun2.l.google.com:19302',
          'stun:stun3.l.google.com:19302',
          'stun:stun4.l.google.com:19302'
        ]
      }
    ]
  };
  const offerOptions = {
    offerToReceiveAudio: true,
    offerToReceiveVideo: true
  };
  let peerConnection;
  let signalingClient;
  let dataChannel;
  let localStream;

  async function start() {
    const stream = await navigator.mediaDevices.getUserMedia({'video': true, 'audio': true});
    document.getElementById('localVideo').srcObject = stream;
    localStream = stream;
    peerConnection = new RTCPeerConnection(configuration);
    stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));
    signalingClient = new SockJS('/ws/webrtc');
    dataChannel = peerConnection.createDataChannel('test');
    peerConnection.ondatachannel = onDataChannel;
    peerConnection.onicecandidate = onIceCandidate;
    peerConnection.ontrack = onTrack;
    signalingClient.onopen = onSignalOpen;
  }

  function onDataChannel(event) {
    console.log('ondatachannel', event);
    const channel = event.channel;
    channel.addEventListener('message', function (e) {
      const chatBox = document.getElementById('chat-box');
      chatBox.innerHTML = chatBox.innerHTML + `<li>${e.data}</li>`;
    });
  }

  function onIceCandidate(event) {
    if (event && event.candidate) {
      signalingClient.send(JSON.stringify({'candidate': event.candidate}));
    }
  }

  function onTrack(event) {
    const remoteVideo = document.getElementById('remoteVideo');
    if (remoteVideo.srcObject !== event.streams[0]) {
      remoteVideo.srcObject = event.streams[0];
    }
  }

  async function onSignalOpen() {
    signalingClient.onmessage = async event => {
      const message = JSON.parse(event.data);

      // WebRTC 연결 응답 받은 경우
      if (message.answer) {
        const remoteDesc = new RTCSessionDescription(message.answer);
        await peerConnection.setRemoteDescription(remoteDesc);
      }

      // ICE Candidate 요청을 받은 경우
      if (message.candidate) {
        peerConnection.addIceCandidate(message.candidate)
                      .then((r) => console.log('iceCandidate added'))
                      .catch(e => {
                        console.error('Error adding received ice candidate', e);
                      });
      }
    };
    const offer = await peerConnection.createOffer(offerOptions);
    await peerConnection.setLocalDescription(offer);
    signalingClient.send(JSON.stringify({'offer': offer}));
  }

  document.getElementById('send-button').addEventListener('click', function (e) {
    const message = document.getElementById('message');
    dataChannel.send(message.value);
    message.value = '';
  });
</script>
</body>
</html>