<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Callee</title>
  <link rel="icon" href="data:;base64,=">
  <script src="https://unpkg.com/@tensorflow/tfjs"></script>
  <script src="https://unpkg.com/@tensorflow-models/posenet"></script>
  <script src="/util/util.js"></script>
</head>
<body onload="start()" data-call="{{call}}">
<div>
  <video id="localVideo" width="640" height="480" style="display: none;" autoplay playsinline controls="false"></video>
  <canvas id="localCanvas"></canvas>
  <video id="remoteVideo" width="640" height="480" style="display: none;" autoplay playsinline controls="false"></video>
  <canvas id="remoteCanvas"></canvas>
</div>
<input type="text" id="message">
<button type="button" id="send-button">SEND</button>
<ul id="chat-box">

</ul>
<script type="text/javascript" src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script type="text/javascript" src="/webrtc/webrtc.js"></script>
<script type="text/javascript">
  const localVideo = document.getElementById('localVideo');
  const localCanvas = document.getElementById('localCanvas');
  const localContext = localCanvas.getContext('2d');
  const remoteVideo = document.getElementById('remoteVideo');
  const remoteCanvas = document.getElementById('remoteCanvas');
  const remoteContext = remoteCanvas.getContext('2d');

  const configuration = {
    'iceServers': [
      {
        'urls': [
          'stun:stun.l.google.com:19302',
          'stun:stun1.l.google.com:19302',
          'stun:stun2.l.google.com:19302',
          'stun:stun3.l.google.com:19302',
          'stun:stun4.l.google.com:19302'
        ]
      }
    ]
  };
  const offerOptions = {
    offerToReceiveAudio: true,
    offerToReceiveVideo: true
  };
  let peerConnection;
  let signalingClient;
  let dataChannel;
  let localStream;

  async function start() {
    localVideo.onloadedmetadata = showLocalVideo;
    remoteVideo.onloadedmetadata = showRemoteVideo;

    const stream = await navigator.mediaDevices.getUserMedia({'video': true, 'audio': true});
    localVideo.srcObject = stream;
    localStream = stream;
    peerConnection = new RTCPeerConnection(configuration);
    stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));
    signalingClient = new SockJS('/ws/webrtc');
    dataChannel = peerConnection.createDataChannel('test');
    peerConnection.ondatachannel = onDataChannel;
    peerConnection.onicecandidate = onIceCandidate;
    peerConnection.ontrack = onTrack;
    signalingClient.onopen = onSignalOpen;
  }

  async function showLocalVideo() {
    await showSkeleton(localVideo, localCanvas, localContext);
  }

  async function showRemoteVideo() {
    await showSkeleton(remoteVideo, remoteCanvas, remoteContext);
  }

  async function showSkeleton(video, canvas, context) {
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    const net = await posenet.load({
      architecture: 'MobileNetV1',
      outputStride: 16,
      inputResolution: {width: canvas.width, height: canvas.height},
      multiplier: 0.75
    });
    await poseDetectionFrame(video, canvas, context, net);
  }

  async function poseDetectionFrame(video, canvas, context, net) {
    const minPoseConfidence = 0.1;
    const minPartConfidence = 0.5;
    const poses = await net.estimatePoses(video, {flipHorizontal: true, decodingMethod: 'single-person'});

    context.clearRect(0, 0, canvas.width, canvas.height);

    context.save();
    context.scale(-1, 1);
    context.translate(-canvas.width, 0);
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    context.restore();

    poses.forEach(pose => {
      const score = pose.score;
      const keypoints = pose.keypoints;
      if (score >= minPoseConfidence) {
        drawKeypoints(keypoints, minPartConfidence, context);
        drawSkeleton(keypoints, minPartConfidence, context);
      }
    });

    requestAnimationFrame(() => poseDetectionFrame(video, canvas, context, net));
  }

  function onDataChannel(event) {
    console.log('ondatachannel', event);
    const channel = event.channel;
    channel.addEventListener('message', function (e) {
      const chatBox = document.getElementById('chat-box');
      chatBox.innerHTML = chatBox.innerHTML + `<li>${e.data}</li>`;
    });
  }

  function onIceCandidate(event) {
    if (event && event.candidate) {
      signalingClient.send(JSON.stringify({'candidate': event.candidate}));
    }
  }

  function onTrack(event) {
    const remoteVideo = document.getElementById('remoteVideo');
    if (remoteVideo.srcObject !== event.streams[0]) {
      remoteVideo.srcObject = event.streams[0];
    }
  }

  function onSignalOpen() {
    signalingClient.onmessage = async event => {
      const message = JSON.parse(event.data);

      // WebRTC 연결 요청 받은 경우
      if (message.offer) {
        await peerConnection.setRemoteDescription(new RTCSessionDescription(message.offer));
        const answer = await peerConnection.createAnswer();
        await peerConnection.setLocalDescription(answer);
        signalingClient.send(JSON.stringify({'answer': answer}));
      }

      // ICE Candidate 요청을 받은 경우
      if (message.candidate) {
        peerConnection.addIceCandidate(message.candidate)
                      .then(() => console.log('iceCandidate added'))
                      .catch(e => {
                        console.error('Error adding received ice candidate', e);
                      });
      }
    }
  }

  document.getElementById('send-button').addEventListener('click', function (e) {
    const message = document.getElementById('message');
    dataChannel.send(message.value);
    message.value = '';
  })
</script>
</body>
</html>